@model FlightViewModel

<h2 class="my-5">Ticket Details</h2>

<div>
    <div class="card my-5">
        <div class="card-body row">
            <h5 class="card-title col-4 text-center">
                <i class="fa-solid fa-location-pin"></i>
                &emsp;@Model.Airports.Where(a => a.AirportId == @Model.Flight.DepartureAirportId).Select(a => a.DepartureAirport).First()
            </h5>

            <h5 class="card-title col-4 text-center">
                <p>-----------------------------------></p>
            </h5>

            <h5 class="card-title col-4 text-center">
                <i class="fa-solid fa-location-pin"></i>
                &emsp;@Model.Airports.Where(a => a.AirportId == @Model.Flight.ArrivalAirportId).Select(a => a.ArrivalAirport).First()
            </h5>

            <div class="my-3 row">
                <p class="card-text col-4 text-center">
                    <i class="fa-solid fa-plane-departure"></i>
                    &emsp;Departure Date: @Model.Flight.DepartureDate</p>
                    <p class="card-text col-4 text-center"></p>
                <p class="card-text col-4 text-center">
                    <i class="fa-solid fa-plane-departure"></i>
                    &emsp;Arrival Date: @Model.Flight.DepartureDate</p>
            </div>

            <div class="my-3 row">
                <p class="card-text col-4 text-center">
                    <i class="fa-solid fa-clock"></i>&emsp;Departure Time: @Model.Flight.DepartureTime</p>
                <p class="card-text col-4 text-center"></p>
                <p class="card-text col-4 text-center">
                    <i class="fa-solid fa-clock"></i>&emsp;Arrival Time: @Model.Flight.ArrivalTime</p>
            </div>

            @* <div class="my-3 row">
                <p class="card-text col-3 text-center">Return Date: @Model.Flight.ReturnDate</p>
                <p class="card-text"></p>
            </div> *@
        </div>
    </div>

    <div class="btn-group">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
            <i class="fa-solid fa-house"></i> Home</a>
        <a class="btn btn-outline-primary" asp-controller="Flight" asp-action="Index">
            <i class="fa-solid fa-plane"></i>
            Flights</a>
    </div>
</div>